@charset "ISO-8859-1";

form{
	color: orange;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 25pt;
	position: absolute;
	top: 380px;
	left: 420px;
}

.userName{
	font-size: 20pt;
	width: 418px;
}

.welcome{
	font-size: 35pt;
	color: orange;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	position: absolute;
	top: 150px;
	left: 400px;
}

.signIn{
	font-size: 25pt;
	color: black;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	position: absolute;
	top: 250px;
	left: 630px;
}

.InputtedPassword{
	font-size: 20pt;
	width: 425px;
	
}

.indexButton{
	font-size: 20pt;
	background-color: rgb(75, 75, 75);
	color: orange;
	position: absolute;
	top: 100px;
	left: -10px;
	width: 600px;

}

.indexButton:hover{
	background-color: orange;
	color: black;
}

.displayMessage{
	color: orange;
	font-size: 20pt;
}

.employee
{
	font-size: 20pt;
	background-color: rgb(75, 75, 75);
	color: orange;
	position: absolute;
	top: 100px;
	left: -10px;
	width: 400px;
	
}
.employee:hover{
	background-color: orange;
	color: black;
}

.customer
{
	font-size: 20pt;
	background-color: rgb(75, 75, 75);
	color: orange;
	position: absolute;
	top: 40px;
	left: -10px;
	width: 400px;
	
}
.customer:hover{
	background-color: orange;
	color: black;
}

.selectOne
{
	font-size: 35pt;
	color: orange;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	position: absolute;
	top: 150px;
	left: 400px;
}

.user
{
	font-size: 35pt;
	color: orange;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	position: absolute;
	top: 100px;
	left: 400px;
}

.categoriesButton
{
	font-size: 20pt;
	background-color: rgb(75, 75, 75);
	color: orange;
	position: absolute;
	top: 40px;
	border-color: rgb(75, 75, 75);
}

.viewCart:hover{
	background-color: orange;
	color: black;
}

.showItems
{
	font-size: 20pt;
	background-color: rgb(75, 75, 75);
	color: orange;
	position: absolute;
	top: 100px;
	border-color: rgb(75, 75, 75);
}

.showItems:hover{
	background-color: orange;
	color: black;
}

.viewCart
{
	font-size: 20pt;
	background-color: rgb(75, 75, 75);
	color: orange;
	position: absolute;
	top: 100px;
	left: 180px;
	width: 150px;
	border-color: rgb(75, 75, 75);
}


.optionsButton
{
	font-size: 20pt;
	background-color: rgb(75, 75, 75);
	color: orange;
	position: absolute;
	top: 40px;
	border-color: rgb(75, 75, 75);
	
}

.submitButton
{
	font-size: 20pt;
	background-color: rgb(75, 75, 75);
	color: orange;
	position: absolute;
	top: 100px;
	border-color: rgb(75, 75, 75);
}

.resetButton
{
	font-size: 20pt;
	background-color: rgb(75, 75, 75);
	color: orange;
	position: absolute;
	top: 325px;
	border-color: rgb(75, 75, 75);
}

.submitChoiceButton
{
	font-size: 20pt;
	background-color: rgb(75, 75, 75);
	color: orange;
	position: absolute;
	top: 325px;
	left: 180px;
	width: 150px;
	border-color: rgb(75, 75, 75);
}

.slider
{
	font-size: 20pt;
	background-color: rgb(100, 100, 100);
	color: orange;
	position: absolute;
	top: -10px;
	left: 110px;
	width: 400px;
}

.chooseId
{
	color: orange;
	font-size: 20pt;
	position: absolute;
	top: -150px;
	left: -10px;
	width: 700px;
}

.submitButton:hover{
	background-color: orange;
	color: black;
}

.resetButton:hover{
	background-color: orange;
	color: black;
}

.submitChoiceButton:hover{
	background-color: orange;
	color: black;
}

.quantityLabel
{
	color: orange;
	font-size: 15pt;
	position: absolute;
	top: -60px;
	left: 250px;
	width: 200px;
}

.idLabel
{
	color: orange;
	font-size: 15pt;
	position: absolute;
	top: -60px;
	left: 10px;
	width: 200px;
}

.findLabel
{
	color: orange;
	font-size: 20pt;
	position: absolute;
	top: -200px;
	width: 800px;
	
	
}

.returnLabel
{
	color: orange;
	font-size: 20pt;
	position: absolute;
	top: 100px;
	left: 100px;
	width: 800px;
	
}

.customerSelectIds
{
	font-size: 20pt;
	background-color: rgb(75, 75, 75);
	color: orange;
	position: absolute;
	top: -60px;
	left: -10px;
	border-color: rgb(75, 75, 75);
}

.displayProduct
{
	color: orange;
	font-size:20pt;
	position: absolute;
	top: -100px;
	width: 800px;
}

.selectIds
{
	font-size: 20pt;
	background-color: rgb(75, 75, 75);
	color: orange;
	position: absolute;
	top: -10px;
	border-color: rgb(75, 75, 75);
}

.productList
{
	
	color: black;
	font-size:20pt;
}


.displayMessage
{
	color: orange;
	font-size: 20pt;
	position: absolute;
	top: -150px;
	left: -10px;
	width: 700px;
}

.showCategory
{
	color: black;
	font-size:20pt;
	position: absolute;
	top: -10px;
	left: -10px;
	width: 900px;
}

.addCart
{
	font-size: 20pt;
	background-color: rgb(75, 75, 75);
	color: orange;
	position: absolute;
	top: 300px;
	left: -10px;
	border-color: rgb(75, 75, 75);
}

.addCart:hover{
	background-color: orange;
	color: black;
}

.showCustomerCart
{
	color: orange;
	font-size: 20pt;
	position: absolute;
	top: -150px;
	left: -10px;
	width: 700px;
}

.cartItems
{
	color: black;
	font-size:20pt;
	position: absolute;
	top: -10px;
	left: -10px;
	width: 900px;
}

.optionForm
{
	color: orange;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 25pt;
	position: absolute;
	top: 380px;
	left: 420px;
}

body{
	background-color: rgb(100, 100, 100);
}